body {
	align-content: center;
	text-align: center;
	background-color: #0082c7;
	font-family: 'Times New Roman', serif;
}

.button {
	background-color: black;
	color: white;
	font-family: 'Times New Roman', serif;
}

.header {
	line-height: .5em;
}
